.post h1:before,
.post h2:before,
.post h3:before {
    content: "\f053     ";
    display: initial;
    margin-left: initial;
    position: initial;
    font-size: 100%;
    font-weight: 600;
    background: initial;
    font-family: 'FontAwesome'

}

.post h1:after,
.post h2:after,
.post h3:after {
    content: " \f054";
    display: initial;
    margin-left: initial;
    position: initial;
    font-size: 100%;
    font-weight: 600;

}

.post h2 {
    margin-top: 50px;
}

.post h2::before,
.portfolio h2::before,
.post h2::after,
.portfolio h2::after,
.post h3::before,
.portfolio h3::before,
.post h3::after,
.portfolio h3::after {
    display: none;
}

.post details {
    display: inline-block;
    vertical-align: top;
}

.portfolio h4 {
    text-align: left;
}

.splide__pagination {
    bottom: -48px;
}

.splide__arrow--prev {
    left: -25px;
}

.splide__arrow--next {
    right: -25px;
}

.splide {
    padding: 0 10px;
}

ul.splide__list>li::marker {
    content: "";
}

@media screen and (max-width: 767px) {

    .post .left,
    .portfolio .left {
        width: auto;
        max-width: 400px;
        float: none;
    }

    .post .right,
    .portfolio .right {
        width: auto;
        max-width: 400px;
        float: none;
    }
}
